[submodule "commercial-01"]
	path = media/commercial-01
	url = https://github.com/mlidbom/JAStudioData-media-commercial-01.git
[submodule "commercial-02"]
	path = media/commercial-02
	url = https://github.com/mlidbom/JAStudioData-media-commercial-02.git
	branch = main
